---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "../styles/global.css";

interface Props {
	title: string;
	description: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = "/image-site.jpg" } = Astro.props;

import { getLangFromUrl, useTranslations } from "../i18n/utils";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

let titre: string = SITE_TITLE[lang];
if (title !== SITE_TITLE[lang]) {
	titre = `${title} ${SITE_TITLE[lang]}`;
}
let desc: string = SITE_DESCRIPTION[lang];
if (description !== SITE_DESCRIPTION[lang]) {
	desc = `${description}`;
}

let tempImgPath: string[] = image.split("/");

let imgPath: string = `/blog/pictures/${tempImgPath.at(tempImgPath.length - 2)}/${tempImgPath.at(tempImgPath.length - 1)}`;

if (image === "/image-site.jpg") {
	imgPath = image;
}

let urlImg = new URL(imgPath, Astro.url);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link
	rel="preload"
	href="/fonts/atkinson-regular.woff"
	as="font"
	type="font/woff"
	crossorigin
/>
<link
	rel="preload"
	href="/fonts/atkinson-bold.woff"
	as="font"
	type="font/woff"
	crossorigin
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{titre}</title>
<meta name="title" content={titre} />
<meta name="description" content={desc} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={titre} />
<meta property="og:description" content={desc} />
<meta property="og:image" content={urlImg.href} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={titre} />
<meta property="twitter:description" content={desc} />
<meta property="twitter:image" content={urlImg.href} />

<!-- Pagefind -->
<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
<script src="/pagefind/pagefind-ui.js" is:inline></script>
<!-- Cloudflare Web Analytics -->
<script
	defer
	src="https://static.cloudflareinsights.com/beacon.min.js"
	data-cf-beacon='{"token": "f202fadc582448778abe5c158f23c06a"}'
></script><!-- End Cloudflare Web Analytics -->
<!-- RSS Feed -->
<link
	rel="alternate"
	type="application/rss+xml"
	title="Your Site's Title"
	href={new URL("rss.xml", Astro.site)}
/>
