---
import {
    getLangFromUrl,
    howManyMainPages,
    useTranslations,
} from "../i18n/utils";
const { numeroPage } = Astro.props;

const lang = getLangFromUrl(Astro.url);

const howManyPages = howManyMainPages(lang);

const no = Number(numeroPage);

const noMinusOne = no - 1 > 0 ? no - 1 : 0;

const noPlusOne = no + 1 < howManyPages ? no + 1 : howManyPages - 1;

const latestPage = howManyPages - 1;

const isFirst = no === 0 ? " btn-disabled " : " ";

const isLast = no === latestPage ? " btn-disabled " : " ";

const t = useTranslations(lang);
---

<astro-pagination data-nopage={numeroPage}>
    <div class="join flex justify-center">
        <button class=`join-item btn ${isFirst}`
            ><a href=`/${lang}/0`>{t("mainPage")}</a></button
        >
        <button class=`join-item btn ${isFirst}`
            ><a href={`/${lang}/${noMinusOne}`}>«</a></button
        >
        <button class="join-item btn btn-disabled">{no + 1}</button>
        <button class=`join-item btn ${isLast}`
            ><a href={`/${lang}/${noPlusOne}`}>»</a></button
        >
        <button class=`join-item btn ${isLast}`
            ><a href={`/${lang}/${latestPage}`}>{t("lastPage")}</a></button
        >
    </div>
</astro-pagination>
<style>
    .languageSwitcher {
        display: block;
    }
</style>

<script>
    class AstroPagination extends HTMLElement {
        constructor() {
            super();
        }
    }

    // Find all buttons with the `alert` class on the page.
    const buttons = document.querySelectorAll("div.join");
    customElements.define("astro-pagination", AstroPagination);
</script>
