---
import {
  getLangFromUrl,
  howManyMainPages,
  useTranslations,
} from "../i18n/utils";
const { numeroPage } = Astro.props;

const lang = getLangFromUrl(Astro.url);


// Get number of texts in current language
const globFr =  import.meta.glob(`../content/blog/fr/*.md`)
const globEn =  import.meta.glob(`../content/blog/en/*.md`)

let howmanyTextsInLang : number = (lang === "fr") ? Object.keys(globFr).length : Object.keys(globEn).length;

const howManyPages = howManyMainPages(lang, howmanyTextsInLang);

const no = Number(numeroPage);

const noMinusOne = no - 1 > 0 ? no - 1 : 0;

const noPlusOne = no + 1 < howManyPages ? no + 1 : howManyPages - 1;

const latestPage = howManyPages - 1;

const isFirst = no === 0 ? " btn-disabled " : " ";

const isLast = no === latestPage ? " btn-disabled " : " ";

const t = useTranslations(lang);
---

<astro-pagination data-nopage={numeroPage}>
  <div class="px-12 join flex justify-center">
    <a class=`${isFirst}` href=`/${lang}/0`>
      <button class=`join-item btn ${isFirst}`>{t("mainPage")}</button></a
    >
    <a class=`${isFirst}` href={`/${lang}/${noMinusOne}`}
      ><button class=`join-item btn ${isFirst}`>«</button></a
    >
    <button class="join-item btn btn-disabled">{no + 1}</button>
    <a class=`${isLast}` href={`/${lang}/${noPlusOne}`}
      ><button class=`join-item btn ${isLast}`>»</button></a
    >
    <a class=` ${isLast}` href={`/${lang}/${latestPage}`}
      ><button class=`join-item btn ${isLast}`>{t("lastPage")}</button></a
    >
  </div>
</astro-pagination>
<style>
  .languageSwitcher {
    display: block;
  }
</style>

<script>
  class AstroPagination extends HTMLElement {
    constructor() {
      super();
    }
  }

  // Find all buttons with the `alert` class on the page.
  const buttons = document.querySelectorAll("div.join");
  customElements.define("astro-pagination", AstroPagination);
</script>
