---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Link from "../components/Link.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { findLanguage } from "../data/findLanguage";
import { imageURLCorrection } from "../data/imageURLCorrection";
import { Picture } from "astro:assets";
import { getImagesMetadata } from "../data/imageManager";

import { Image } from "astro:assets";
import localPrintImage from "../content/Icons/print-svgrepo-com.svg";
import localMarkdownImage from "../content/Icons/markdown-svgrepo-com.svg";
import localPDFImage from "../content/Icons/pdf-svgrepo-com.svg";
import { undefined } from "astro:schema";

const { title, excerpt, authors, pubDate, heroImage, translation, legendes } =
  Astro.props;

const pathNameSplit = Astro.url.pathname.split("/");

const pdfUrl = `http://${Astro.url.host}/blog/pdf/${pathNameSplit[1]}/${pathNameSplit[2]}.pdf`;

const markdownUrl = `http://${Astro.url.host}/blog/markdown/${pathNameSplit[1]}/${pathNameSplit[2]}.md`;

let pathStr = String(Astro.url.pathname);

if (pathStr.charAt(0) === "/") pathStr = pathStr.substring(1, pathStr.length);

if (pathStr.charAt(pathStr.length - 1) === "/")
  pathStr = pathStr.substring(0, pathStr.length - 1);

const autrices: Array<string> = authors;

const imagePath: string = imageURLCorrection(heroImage);

let resultat = await getImagesMetadata();

const lang = getLangFromUrl(Astro.url);

let otherLang = lang === "en" ? "fr" : "en";

let translationUrl = `${otherLang}/${translation}`;

if (translation === undefined) {
  translationUrl = "";
}

let legendesExtraites = [""];

if (legendes) {
  legendesExtraites = legendes;
}

const t = useTranslations(lang);
---

<html lang={lang}>
  <head>
    <BaseHead title={title} description={excerpt} />
    <style>
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        box-shadow: var(--box-shadow);
        z-index: 1;
      }

      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        color: rgb(var(--gray-dark));
        z-index: 1;
        position: relative;
        padding-top: 40px;
      }

      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: black;
      }
      .last-updated-on {
        font-style: italic;
      }

      .sufficent-margin {
        margin-bottom: -18rem;
      }

      @media (min-width: 768px) {
        .prose {
          padding: 1em;
        }

        .hero-image img {
          display: block;
          margin: 0 auto;
          position: relative;
          border-radius: 12px;
          box-shadow: var(--box-shadow);
          height: 50vh;
        }
        main {
          margin: auto;
          padding-top: 0;
        }
      }
    </style>
  </head>

  <body>
    <Header numeroPage={translationUrl} />
    <main
      class="w-full pt-0 ps-0 pe-0 max-w-fit md:max-w-[calc(100%-2rem)] md:w-[calc(100%-2rem)] md:pt-32"
    >
      <article>
        <div class="hero-image md:pt-24">
          <Picture
            src={resultat[imagePath]}
            width={1020}
            height={510}
            alt=""
            loading={"eager"}
            class="object-cover bg-fixed opacityFade"
          />
          <div class="flex items-start xl:mx-[15%] 2xl:mx-[25vw]">
            <p class="legende text-[16px] opacityFade text-justify">
              {legendesExtraites[0]}
            </p>
          </div>
        </div>
        <div class="prose px-[7vw] sm:px-0">
          <div class="title">
            <div class="date">
              <FormattedDate
                date={pubDate}
                locale={findLanguage(new URL(Astro.url))}
              />
            </div>
            <h1 class="text-5xl">{title}</h1>
            <p class="atkinson text-center">{t("by")}</p>
            {
              autrices.map((autrice: string) => (
                <h5 class="m-0 mb-3">{autrice}</h5>
              ))
            }
            <div class="utilitaires-texte flex justify-around align-bottom m-4">
              <a href={pdfUrl} target="_blank"
                ><Image
                  width="45"
                  src={localPDFImage}
                  alt="Download a pdf version / Télécharger une version pdf"
                  loading={"eager"}
                /></a
              >

              <a href={markdownUrl} download>
                <Image
                  height="50"
                  src={localMarkdownImage}
                  alt="Download a pdf version"
                  loading={"eager"}
                /></a
              >
              <a href="javascript:if(window.print)window.print()"
                ><Image
                  width="50"
                  src={localPrintImage}
                  alt="Download a pdf version"
                  loading={"eager"}
                /></a
              >
              <Link />
            </div>

            <hr />
          </div>
          <slot />
          <div class="utilitaires-texte flex justify-around align-bottom m-8">
            <a href={pdfUrl} target="_blank"
              ><Image
                width="45"
                src={localPDFImage}
                alt="Download a pdf version / Télécharger une version pdf"
                loading={"lazy"}
              /></a
            >

            <a href={markdownUrl} download>
              <Image
                height="50"
                src={localMarkdownImage}
                alt="Download a pdf version"
                loading={"lazy"}
              /></a
            >
            <a href="javascript:if(window.print)window.print()"
              ><Image
                width="50"
                src={localPrintImage}
                alt="Download a pdf version"
                loading={"lazy"}
              /></a
            >
            <Link />
          </div>
        </div>
      </article>
    </main>

    <Footer numeroPage={`0`} />
  </body>
</html>

<script>
  const header = document.querySelectorAll(".opacityFade") as NodeListOf<HTMLElement>;
  const prose = document.querySelector(".prose") as HTMLElement;
  const article = document.querySelector("article") as HTMLElement;

  let result = "";
  let scrollTop = 0;
  window.addEventListener("scroll", function () {
    scrollTop = window.scrollY || document.documentElement.scrollTop;
    result = String(1 - scrollTop / 250);
    if (header !== null) {
      let res = parseInt(result);
      if (res >= 0) {
        header.forEach((element: HTMLElement) => {
          element.style.opacity = result;
        });
        prose.style.translate = `0 ${1 - scrollTop}px`;
        if (res === 1) {
          if (!article.classList.contains("sufficent-margin"))
            article.classList.add("sufficent-margin");
        }
      }
    }

    window.onbeforeprint = function () {
      header.forEach((element: HTMLElement) =>{
        element.style.opacity = "1";
      })
      prose.style.translate = `0px`;
    };

    window.onafterprint = function () {
      header.forEach((element: HTMLElement) =>{
        element.style.opacity = result;
      })
      prose.style.translate = `0 ${1 - scrollTop}px`;
    };
  });
</script>
