---
import { Picture } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const { props } = Astro.props;

let temp = await props;

const data = temp.remarkPluginFrontmatter;

console.log(data.translations[Object.keys(data.translations).toString()]);

let pathStr = String(Astro.url.pathname);

if (pathStr.charAt(0) === "/") pathStr = pathStr.substring(1, pathStr.length);

if (pathStr.charAt(pathStr.length - 1) === "/")
  pathStr = pathStr.substring(0, pathStr.length - 1);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<html lang={lang}>
  <head>
    <BaseHead title="Archives" description="description" />
    <style>
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0;
        box-shadow: var(--box-shadow);
        z-index: 1;
      }

      .prose {
        width: 720px;
        max-width: calc(100% - 2em);
        margin: auto;
        color: rgb(var(--gray-dark));
        z-index: 1;
        position: relative;
        padding-top: 40px;
      }
      .title {
        margin-bottom: 1em;
        padding: 1em 0;
        text-align: center;
        line-height: 1;
      }
      .title h1 {
        margin: 0 0 0.5em 0;
      }
      .date {
        margin-bottom: 0.5em;
        color: black;
      }
      .last-updated-on {
        font-style: italic;
      }

      .sufficent-margin {
        margin-bottom: -18rem;
      }

      @media (min-width: 768px) {
        .prose {
          padding: 1em;
        }

        .hero-image img {
          display: block;
          margin: 0 auto;
          position: relative;
          border-radius: 12px;
          box-shadow: var(--box-shadow);
          height: 50vh;
        }
        main {
          margin: auto;
          padding-top: 0;
        }
      }
    </style>
  </head>

  <body>
    <Header
      numeroPage={data.translations[Object.keys(data.translations).toString()]}
    />
    <main
      class="w-full pt-0 ps-0 pe-0 max-w-fit md:max-w-[calc(100%-2rem)] md:w-[calc(100%-2rem)] md:pt-32"
    >
      <article>
        <div class="hero-image md:pt-24"></div>
        <div class="prose">
          <div class="title">
            <div class="date"></div>
            <h1 class="text-5xl">{data.title}</h1>
            <p>{data.era}</p>
            <hr />
          </div>

          <p>{data.excerpt}</p>
          <slot />
          <div class="join join-vertical bg-base-100">
            <section
              class="collapse collapse-arrow join-item border-base-300 border"
            >
              <input type="radio" name="my-accordion-4" checked="checked" />
              <div class="collapse-title font-semibold">
                {data.material.magazines.name}
              </div>

              <div class="collapse-content text-sm magazines">
                <ul>
                  {
                    console.log(
                      `${Astro.url.origin}/${data.material.tracts.tract[0]["Journée internationale des stagiaires (Montréal 2017.11.10)"].file}`,
                    )
                  }
                  {
                    data.material.magazines.magazine.map((magazine: any) => (
                      <li>
                        <p class="text-base flex justify-center">
                          {data.material.magazines.description}
                        </p>
                        <a
                          href={`${Astro.url.origin}/${
                            magazine[Object.keys(magazine).toString()].file
                          }`}
                          target="_blank"
                        >
                          <div class="flex justify-center">
                            <Picture
                              src={`${Astro.url.origin}/${
                                magazine[Object.keys(magazine).toString()]
                                  .thumbnail
                              }`}
                              formats={["avif", "webp"]}
                              width={250}
                              height={360}
                              alt="{}"
                            />
                          </div>
                          <h4 class="title">
                            {Object.keys(magazine).toString()}
                          </h4>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </section>
            <section
              class="collapse collapse-arrow join-item border-base-300 border"
            >
              <input type="radio" name="my-accordion-4" />
              <div class="collapse-title font-semibold">
                {data.material.tracts.name}
              </div>
              <div class="collapse-content text-sm">
                <ul>
                  <p class="text-base flex justify-center">
                    {data.material.tracts.description}
                  </p>
                  {
                    data.material.tracts.tract.map((tract: any) => (
                      <li>
                        <a
                          href={`${Astro.url.origin}/${
                            tract[Object.keys(tract).toString()].file
                          }`}
                          target="_blank"
                        >
                          <p class="text-base">
                            {Object.keys(tract).toString()}
                          </p>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </section>
            <section
              class="collapse collapse-arrow join-item border-base-300 border"
            >
              <input type="radio" name="my-accordion-4" checked="checked" />
              <div class="collapse-title font-semibold">
                {data.material.affiches.name}
              </div>

              <div class="collapse-content text-sm magazines">
                <ul>
                  {
                    console.log(
                      `${Astro.url.origin}/${data.material.tracts.tract[0]["Journée internationale des stagiaires (Montréal 2017.11.10)"].file}`,
                    )
                  }
                  <p class="text-base flex justify-center">
                    {data.material.affiches.description}
                  </p>
                  {
                    data.material.affiches.affiche.map((affiche: any) => (
                      <li>
                        <a
                          href={`${Astro.url.origin}/${
                            affiche[Object.keys(affiche).toString()].file
                          }`}
                          target="_blank"
                        >
                          <div class="flex justify-center">
                            <Picture
                              src={`${Astro.url.origin}/${
                                affiche[Object.keys(affiche).toString()]
                                  .thumbnail
                              }`}
                              formats={["avif", "webp"]}
                              width={250}
                              height={360}
                              alt="{}"
                            />
                          </div>
                          <h4 class="title">
                            {Object.keys(affiche).toString()}
                          </h4>
                        </a>
                      </li>
                    ))
                  }
                </ul>
              </div>
            </section>
            <section
              class="collapse collapse-arrow join-item border-base-300 border"
            >
              <input type="radio" name="my-accordion-4" />
              <div class="collapse-title font-semibold">
                How do I update my profile information?
              </div>
              <div class="collapse-content text-sm">
                Go to "My Account" settings and select "Edit Profile" to make
                changes.
              </div>
            </section>
          </div>
        </div>
      </article>
    </main>
    <Footer numeroPage={`0`} />
  </body>
</html>

<script>
  const header = document.querySelector(".opacityFade") as HTMLElement;
  const prose = document.querySelector(".prose") as HTMLElement;
  const article = document.querySelector("article") as HTMLElement;
  window.addEventListener("scroll", function () {
    let scrollTop = window.scrollY || document.documentElement.scrollTop;
    let result = String(1 - scrollTop / 250);
    if (header !== null) {
      let res = parseInt(result);
      if (res >= 0) {
        header.style.opacity = result;
        prose.style.translate = `0 ${1 - scrollTop}px`;
        if (res === 1) {
          if (!article.classList.contains("sufficent-margin"))
            article.classList.add("sufficent-margin");
        }
      }
    }
  });
</script>
